<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des etudiants</title>
</head>
<body class="bg-success pb-5">
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bare de navigation</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Acceuil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="/ajoutE">Ajouter un etudiant</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/ajoutS">Ajouter un Sujet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/sujets">Liste des sujets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/groupe">Creer les groupes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/groupes">Voir les anciens groupes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <!--Main Content-->
    <div class="mx-auto mt-5 bg-light w-75">
        <h1 class="text-center">Liste des etudiants</h1>
        <div class="container">
            <!--Add User Button-->
            <div class="my-3">
                <a href="/ajoutE"><button type="button" class="btn btn-primary">Ajouter un etudiant</button></a>
            </div>
            <table class="table border" >
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom</th>
                    <th scope="col">Adresse emaeil</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let e of etudiants">
                    <td>{{e.id}}</td>
                    <td>{{e.nom}}</td>
                    <td>{{e.prenom}}</td>
                    <td>{{e.adresse}}</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</body>
</html>

<router-outlet></router-outlet>