<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un etudiant</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-info">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Bare de navigation</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse offset-4" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-white" aria-current="page" href="/">Acceuil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link  text-white" href="/ajoutE">Ajouter un etudiant</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/ajoutS">Ajouter un Sujet</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/sujets">Liste des sujets</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="/groupe">Creer les groupes</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link text-white" href="/groupes">Voir les anciens groupes</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <!--Main Content-->
    <div class="my-5">
        <div class="mx-auto w-25 card p-2" style="max-width:100%;">
            <h2 class="text-center mb-3">Ajouter un etudiant</h2>
            <form [formGroup]="form" (ngSubmit)="submit()">
                <!--nom-->
                <div class="row">
                    <div class="col-md-12 form-group mb-3">
                        <label for="nom" class="form-label">Nom</label>
                        <input id="nom" formControlName="nom" type="text" name="nom" class="form-control"
                            placeholder="Nom" required>
                    </div>
                </div>

                <!--prenom-->
                <div class="row">
                    <div class="col-md-12 form-group mb-3">
                        <label for="prenom" class="form-label">Prenom</label>
                        <input id="prenom" formControlName="prenom" type="text" name="prenom" class="form-control"
                            placeholder="Prenom" required>
                    </div>
                </div>

                <!--Email-->
                <div class="row">
                    <div class="col-md-12 form-group mb-3">
                        <label for="adresse" class="form-label">Adresse</label>
                        <input id="adresse" type="email" formControlName="adresse" name="adresse" class="form-control"
                            placeholder="Adresse email" required>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 form-group">
                        <input [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Ajouter">
                    </div>
                </div>

                <div>

                </div>
            </form>
        </div>
    </div>
</body>

</html>