<div class="mx-auto mt-5 bg-light w-75">
    <h1 class="text-center">Liste des groupes précédemment créés</h1>
    <div class="container">
        <div *ngIf="taille!=0" class="my-3">
            <a routerLink="/groupe"><button type="button" class="btn btn-primary">Générer d'autres groupes</button></a>
        </div>
    </div>
    <div *ngIf="taille==0" class="card m-2 text-center" style="height: 575px;border-style: none;">
        <div class="position-relative alert text-danger m-2 h4" style="top : 210px">
            <p> Aucune vague de groupes </p>
            <a routerLink="/groupe"><button type="button" class="btn btn-primary">Générer des groupes</button></a>
        </div>
    </div>
    <div *ngFor="let groupe of groupes; let i= index" class="card mt-2 ml-2 mr-2 bg-info">
        <div class="card-title text-center text-white h5 p-2 bg-secondary">Vague numéro {{i+1}}</div>
        <div class="card-body">
            <div class="row">
                <div *ngFor="let group of groupe; let j=index" class="col-md-4">
                    <div class="card mt-2">
                        <div class="card-title text-center">Groupe {{j+1}}</div>
                        <div class="card-header">Sujet : {{group["sujet"]["nom"]}}</div>
                        <div class="card-body">
                            <li *ngFor="let me of group['membreG']">{{me["nom"]+" "+me["prenom"]}}</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
