<div class="container mt-2 h-100">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="row bg-warning p-2 mb-2">
            <span class="col-md-3 text-center align-middle form-group">
                <label for="nb" class="form-label h6">Nombre de groupe à former</label>
            </span>
            <span class="col-md-4">
                <input id="nb" formControlName="nb" type="number" min="2" max="" name="nom" class="form-control"
                    required>
            </span>
            <div class="col-md-4 offset-2 form-group">
                <input [disabled]="!form.valid" class="btn btn-primary w-100" type="submit" value="Former">
            </div>
        </div>
    </form>
    <div class="card bg-info">
        <div class="card-title bg-success text-white text-center">
            <h4>Liste des groupes formés</h4>
        </div>
        <div class="card-body">
            <div *ngIf="!nb" class="alert alert-danger text-center h5">Veuillez renseigner le nombre de groupes à
                former</div>
            <div *ngFor="let groupe of groupes; let i=index" class="row">
                <div class="card mt-2">
                    <div class="card-title text-center">Groupe {{i+1}}</div>
                    <div class="card-header">Sujet : {{groupe["sujet"]["nom"]}}</div>
                    <div class="card-body">
                        <li *ngFor="let me of groupe['membreG']">{{me["nom"]+" "+me["prenom"]}}</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
