<!--Main Content-->
<div class="mx-auto mt-5 card w-25">
    <h1 class="text-center">Liste des sujets</h1>
    <div class="container">
        <!--Add User Button-->
        <div class="my-3">
            <a routerLink="/ajoutS"><button type="button" class="btn btn-primary">Ajouter un sujet</button></a>
        </div>
        <table class="table border">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of sujets">
                <td>{{e.id}}</td>
                <td>{{e.nom}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
