<!--Main Content-->
<div class="mx-auto mt-5 bg-light w-75">
    <h1 class="text-center">Liste des étudiants</h1>
    <div class="container">
        <!--Add User Button-->
        <div class="my-3">
            <a routerLink="/ajoutE"><button type="button" class="btn btn-primary">Ajouter un étudiant</button></a>
        </div>
        <table class="table border">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Nom</th>
                <th scope="col">Prénom</th>
                <th scope="col">Adresse email</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let e of etudiants">
                <td>{{e.id}}</td>
                <td>{{e.nom}}</td>
                <td>{{e.prenom}}</td>
                <td>{{e.adresse}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
